<p id="who">
  <strong>Who:</strong>
  The course is aimed at participants of the <a href="http://galaxyafrica.sanbi.ac.za">Galaxy Africa Conference</a> that will take place from 3-5 April 2018 at the University of the Western Cape, Cape Town, South Africa. All graduate students and other researchers participating in the conference are welcome.
  <strong>
    You don't need to have any previous knowledge of programming in general or the tools 
    that will be presented at the workshop.
  </strong>
</p>
